<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ristorane | <%= title %></title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
        body { padding-top:50px; }
    </style>
</head>
<body>
<%- include('../../partials/nav.ejs') %>
<center>
<div class="container">
<%- include('../../partials/alerts.ejs') %>
<div class="col-md-4">
    <div class="card mb-4 box-shadow" >
    <img src="data:image/<%=product.img.contentType%>;base64,
    <%=product.img.data.toString('base64')%>">
      <div class="card-body">
        <p class="card-text"><%= product.productName %></p>
        <p class="card-text"><%= product.productDesc %></p>
        <div class="d-flex justify-content-between align-items-center">
          <div class="btn-group">
          </div>
          <small class="text-muted">£<%= product.productPrice %></small>
        </div>
      </div>
    </div>
  </div>
<div class="col-md-8">
    <form action="/adminpanel/products/edit/<%=product._id %>" method="post">
        <div class="mb-3">
            <label for="name-label" class="form-label">Name</label>
            <input type="text" class="form-control" name="Name" id="name">
        </div>
        <div class="mb-3">
            <label for="description-label" class="form-label">Description</label>
            <input type="text" class="form-control" name="Desc" id="desc">
        </div>
        <div class="mb-3">
            <label for="price-label" class="form-label">Price</label>
            <input type="number" class="form-control" name="Price" id="price">
        </div>
        <div class="mb-3">
          <label for="price-label" class="form-label">Type</label>
          <input type="text" class="form-control" name="Type" id="type">
      </div>

        <button type="submit" class="btn btn-primary">Edit product</button>
    </form>
</div>
</div>
</center>
</body>
<%- include('../../partials/footer.ejs') %>
</html>